.tasks {
    padding: 0 10px;
    margin: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    word-break: break-word;
    list-style: none;
    margin: 10px 0px;
    padding: 10px;
    border-bottom: 2px solid #dfdfdf;
}

.tasks__item--hidden {
    display: none;
}

.tasks__button {
    border: none;
    color: #ffffff;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 0.5s;
    cursor: pointer;
}

.tasks__button--remove {
    background-color: hsl(0, 100%, 50%);
}

.tasks__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.tasks__button--remove:active {
    background-color: hsl(348, 83%, 70%)
}

.tasks__button--done {
    background-color: hsl(120, 89%, 30%);
}

.tasks__button--done:hover {
    background-color: hsl(120, 89%, 40%);
}

.tasks__button--done:active {
    background-color: hsl(120, 89%, 50%);
}


.tasks__content--done {
    text-decoration: line-through;
}